* {
  border: 1px solid red;
  box-sizing: border-box;
  /* padding: 10px; */
}

body {
  background: papayawhip;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  justify-content: space-around;
  flex-basis: 100%;
}

.a {
  min-height: 20vh;
}

.b {
  min-height: 30vh;
  flex-basis: 100%
}

.f {
  min-height: 20vh;
}

.inner-row {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }

}
